.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    flex-direction: column;
}

.grid{
    background-color: rgba(211, 211, 211, 0.363);
    border: 1px solid black;
}
.row{
    width: 500px;
    display: flex;
}
#container{
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    width: fit-content;
    height: fit-content;
}
