.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
body{
    flex-direction: column;
}

.grid{
    background-color: lightgray;
}
.row{
    width: 500px;
    display: flex;
}
#container{
    display:flex;
    flex-direction: column;
    position: fixed;
    top: 150px;
    width: fit-content;
    height: fit-content;
}
#footer{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 20px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
